<div
  class="
    fixed
    bottom-0
    left-0
    z-50
    w-full
    h-16
    bg-white
    border-t
    border-gray-200
    dark:bg-gray-700
    dark:border-gray-600
  ">
  <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
    <button
        type="button"
        class="
          inline-flex
          flex-col
          items-center
          justify-center
          px-5
          h-full
          hover:bg-gray-50
          dark:hover:bg-gray-800
          group
          ">
      <%= link_to interests_path do %>
        <svg
          class="
            w-6
            h-6
            mb-1
            text-gray-500
            dark:text-gray-400
            group-hover:text-blue-600
            dark:group-hover:text-blue-500
          "
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true">
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
        </svg>
      <% end %>
      <span
          class="
            text-sm
            text-gray-500
            dark:text-gray-400
            group-hover:text-blue-600
            dark:group-hover:text-blue-500
          ">Home</span>
    </button>
    <button
      type="button"
      class="
        inline-flex
        flex-col
        items-center
        justify-center
        h-full
        px-5
        hover:bg-gray-50
        dark:hover:bg-gray-800
        group
      ">
      <%= link_to quizzes_path do %>
        <svg
          class="
          w-6
          h-6
          mb-1
          text-gray-500
          dark:text-gray-400
          group-hover:text-blue-600
          dark:group-hover:text-blue-500"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true">
          <path
          d="M15.5 2A1.5 1.5 0 0014 3.5v13a1.5 1.5 0 001.5 1.5h1a1.5 1.5 0 001.5-1.5v-13A1.5 1.5 0 0016.5 2h-1zM9.5 6A1.5 1.5 0 008 7.5v9A1.5 1.5 0 009.5 18h1a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0010.5 6h-1zM3.5 10A1.5 1.5 0 002 11.5v5A1.5 1.5 0 003.5 18h1A1.5 1.5 0 006 16.5v-5A1.5 1.5 0 004.5 10h-1z"></path>
        </svg>
      <% end %>
      <span
        class="
          text-sm
          text-gray-500
          dark:text-gray-400
          group-hover:text-blue-600
          dark:group-hover:text-blue-500
        ">Stats</span>
    </button>
    <button
      type="button"
      class="
        inline-flex
        flex-col
        items-center
        justify-center
        px-5
        h-full
        hover:bg-gray-50
        dark:hover:bg-gray-800
        group
      ">
      <svg
        class="
          w-6
          h-6
          mb-1
          text-gray-500
          dark:text-gray-400
          group-hover:text-blue-600
          dark:group-hover:text-blue-500
        "
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true">
        <path
          d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path>
      </svg>
      <span
        class="
          text-sm
          text-gray-500
          dark:text-gray-400
          group-hover:text-blue-600
          dark:group-hover:text-blue-500
        ">Settings</span>
    </button>
    <button
      type="button"
      class="
        inline-flex
        flex-col
        items-center
        justify-center
        px-5
        h-full
        hover:bg-gray-50
        dark:hover:bg-gray-800
        group
      ">
      <svg
        class="
          w-6
          h-6
          mb-1
          text-gray-500
          dark:text-gray-400
          group-hover:text-blue-600
          dark:group-hover:text-blue-500
        "
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true">
        <path
          clip-rule="evenodd"
          fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"></path>
      </svg>
      <span
        class="
          text-sm
          text-gray-500
          dark:text-gray-400
          group-hover:text-blue-600
          dark:group-hover:text-blue-500
        ">Profile</span>
    </button>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.turbo.min.js"></script>
