<div
  class="
    fixed
    bottom-0
    left-0
    z-50
    w-full
    h-16
    bg-gray-700
    shadow
  ">
  <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
    <button
        type="button"
        class="
          inline-flex
          flex-col
          items-center
          justify-center
          px-5
          h-full

          group
          ">
      <%= link_to interests_path do %>
        <svg class="h-10 w-10" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M855.04 815.36c0 17.92-16.64 32-38.4 32H226.56c-20.48 0-38.4-14.08-38.4-32V371.2c0-17.92 16.64-32 38.4-32h590.08c20.48 0 38.4 14.08 38.4 32v444.16z" fill="#E1E0A6"></path><path d="M816.64 860.16H226.56c-28.16 0-51.2-20.48-51.2-44.8V371.2c0-24.32 23.04-44.8 51.2-44.8h590.08c28.16 0 51.2 20.48 51.2 44.8v444.16c0 24.32-23.04 44.8-51.2 44.8zM226.56 352c-14.08 0-25.6 8.96-25.6 19.2v444.16c0 10.24 11.52 19.2 25.6 19.2h590.08c14.08 0 25.6-8.96 25.6-19.2V371.2c0-10.24-11.52-19.2-25.6-19.2H226.56z" fill="#231C1C"></path><path d="M917.76 449.28c0 21.76-14.08 39.68-32 39.68L520.96 328.96 156.16 488.96c-17.92 0-32-17.92-32-39.68v-56.32c0-21.76 14.08-39.68 32-39.68l364.8-184.32 364.8 184.32c17.92 0 32 17.92 32 39.68v56.32z" fill="#6FB0BE"></path><path d="M885.76 501.76c-1.28 0-3.84 0-5.12-1.28L520.96 343.04 161.28 500.48c-1.28 1.28-3.84 1.28-5.12 1.28-24.32 0-44.8-23.04-44.8-52.48v-56.32c0-28.16 17.92-51.2 40.96-52.48l362.24-183.04c3.84-1.28 7.68-1.28 11.52 0l362.24 183.04c23.04 2.56 40.96 24.32 40.96 52.48v56.32c1.28 28.16-17.92 52.48-43.52 52.48zM520.96 183.04l-358.4 181.76c-1.28 1.28-3.84 1.28-5.12 1.28-10.24 0-19.2 12.8-19.2 26.88v56.32c0 14.08 7.68 25.6 16.64 26.88l362.24-158.72c3.84-1.28 6.4-1.28 10.24 0l362.24 158.72c8.96-1.28 16.64-12.8 16.64-26.88v-56.32c0-15.36-8.96-26.88-19.2-26.88-2.56 0-3.84 0-6.4-1.28L520.96 183.04z" fill="#231C1C"></path><path d="M623.36 848.64H445.44V634.88c0-17.92 15.36-30.72 33.28-30.72h111.36c17.92 0 33.28 12.8 33.28 30.72v213.76z" fill="#FDE8C2"></path><path d="M623.36 861.44H445.44c-7.68 0-12.8-5.12-12.8-12.8V634.88c0-24.32 19.2-43.52 46.08-43.52h111.36c25.6 0 46.08 17.92 46.08 43.52v212.48c0 7.68-5.12 14.08-12.8 14.08z m-165.12-25.6h152.32V634.88c0-11.52-10.24-17.92-20.48-17.92h-111.36c-10.24 0-20.48 5.12-20.48 17.92v200.96z" fill="#231C1C"></path></g></svg>
      <% end %>
      <span
          class="
            text-sm
            text-slate-100

          "></span>
    </button>
    <button
      type="button"
      class="
        inline-flex
          flex-col
          items-center
          justify-center
          px-5
          h-full

          group
          ">
      <%= link_to do %>
       <svg class="h-10 w-10" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M613.12 578.56c-14.08 0-28.16-1.28-33.28-11.52-6.4-11.52 1.28-21.76 10.24-35.84 14.08-20.48 35.84-55.04 35.84-108.8 0-120.32 56.32-215.04 128-215.04h6.4c21.76 0 62.72-1.28 92.16 26.88 19.2 19.2 29.44 48.64 29.44 87.04 0 120.32-203.52 257.28-268.8 257.28z m-6.4-25.6h6.4c56.32 0 243.2-129.28 243.2-231.68 0-32-7.68-55.04-21.76-69.12-20.48-20.48-53.76-19.2-72.96-19.2h-7.68c-55.04 0-102.4 87.04-102.4 189.44 0 61.44-25.6 99.84-39.68 122.88-1.28 2.56-3.84 5.12-5.12 7.68zM422.4 578.56c-65.28 0-268.8-136.96-268.8-257.28 0-38.4 10.24-66.56 29.44-87.04 29.44-28.16 71.68-28.16 92.16-26.88h6.4c71.68 0 128 94.72 128 215.04 0 53.76 23.04 88.32 35.84 108.8 8.96 14.08 16.64 25.6 10.24 35.84-5.12 10.24-19.2 11.52-33.28 11.52z m-157.44-345.6c-19.2 0-46.08 2.56-64 20.48-14.08 14.08-21.76 37.12-21.76 67.84 0 103.68 186.88 231.68 243.2 231.68h6.4c-1.28-2.56-3.84-5.12-5.12-7.68C409.6 522.24 384 482.56 384 422.4c0-102.4-47.36-189.44-102.4-189.44h-16.64z" fill="#231C1C"></path><path d="M485.12 604.16h76.8v166.4h-76.8z" fill="#C89005"></path><path d="M561.92 783.36h-76.8c-7.68 0-12.8-5.12-12.8-12.8v-166.4c0-7.68 5.12-12.8 12.8-12.8h76.8c7.68 0 12.8 5.12 12.8 12.8v166.4c0 7.68-5.12 12.8-12.8 12.8z m-64-25.6h51.2v-140.8h-51.2v140.8z" fill="#231C1C"></path><path d="M805.12 143.36c0 14.08-10.24 25.6-23.04 25.6H264.96c-12.8 0-23.04-11.52-23.04-25.6s10.24-25.6 23.04-25.6h518.4c11.52 0 21.76 11.52 21.76 25.6z" fill="#F8F4BC"></path><path d="M783.36 181.76H264.96c-19.2 0-35.84-16.64-35.84-38.4s15.36-38.4 35.84-38.4h518.4c19.2 0 35.84 16.64 35.84 38.4s-16.64 38.4-35.84 38.4z m-518.4-51.2c-5.12 0-10.24 6.4-10.24 12.8s3.84 12.8 10.24 12.8h518.4c5.12 0 10.24-6.4 10.24-12.8s-3.84-12.8-10.24-12.8H264.96z" fill="#231C1C"></path><path d="M768 168.96c0 384-108.8 473.6-243.2 473.6s-243.2-102.4-243.2-473.6h486.4z" fill="#FAC546"></path><path d="M524.8 655.36c-172.8 0-256-158.72-256-486.4 0-7.68 5.12-12.8 12.8-12.8h486.4c7.68 0 12.8 5.12 12.8 12.8 0 331.52-80.64 486.4-256 486.4z m-231.68-473.6c2.56 300.8 78.08 448 230.4 448 106.24 0 227.84-51.2 230.4-448h-460.8z" fill="#231C1C"></path><path d="M665.6 872.96H381.44c0-71.68-11.52-129.28 142.08-129.28S665.6 801.28 665.6 872.96z" fill="#FAC546"></path><path d="M665.6 885.76H381.44c-7.68 0-12.8-5.12-12.8-12.8v-14.08c0-35.84-1.28-70.4 24.32-94.72C416 741.12 458.24 729.6 524.8 729.6s108.8 10.24 131.84 34.56c24.32 24.32 24.32 58.88 24.32 94.72v14.08c-2.56 7.68-7.68 12.8-15.36 12.8z m-271.36-25.6h259.84v-1.28c0-33.28 0-58.88-16.64-76.8-17.92-17.92-55.04-26.88-112.64-26.88s-96 8.96-112.64 26.88c-19.2 17.92-17.92 43.52-17.92 78.08z" fill="#231C1C"></path><path d="M702.72 872.96c0 14.08-10.24 25.6-23.04 25.6H367.36c-12.8 0-23.04-11.52-23.04-25.6s10.24-25.6 23.04-25.6h313.6c11.52 0 21.76 11.52 21.76 25.6z" fill="#F8F4BC"></path><path d="M680.96 911.36H367.36c-19.2 0-35.84-16.64-35.84-38.4s15.36-38.4 35.84-38.4h313.6c19.2 0 35.84 16.64 35.84 38.4s-16.64 38.4-35.84 38.4z m-313.6-51.2c-5.12 0-10.24 6.4-10.24 12.8s3.84 12.8 10.24 12.8h313.6c5.12 0 10.24-6.4 10.24-12.8s-3.84-12.8-10.24-12.8H367.36z" fill="#231C1C"></path></g></svg>
      <% end %>
      <span
        class="
          text-sm
          text-slate-100
          dark:text-gray-400

        "></span>
    </button>
    <button
      type="button"
      class="
        inline-flex
          flex-col
          items-center
          justify-center
          px-5
          h-full

          group
          ">
      <svg class="h-10 w-10" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M897.28 597.76l-74.24-53.76c1.28-10.24 1.28-21.76 1.28-32 0-11.52 0-21.76-1.28-32l74.24-53.76c12.8-7.68 16.64-23.04 8.96-34.56l-90.88-154.88c-7.68-12.8-23.04-16.64-35.84-8.96l-84.48 37.12c-17.92-12.8-37.12-23.04-57.6-32l-7.68-92.16c0-14.08-11.52-25.6-25.6-25.6H422.4c-14.08 0-25.6 11.52-25.6 25.6l-8.96 90.88c-20.48 8.96-39.68 19.2-57.6 32l-84.48-37.12c-12.8-7.68-28.16-2.56-35.84 8.96l-89.6 156.16c-7.68 12.8-2.56 28.16 8.96 34.56l74.24 53.76c-1.28 10.24-1.28 21.76-1.28 32s0 21.76 1.28 32l-74.24 53.76c-12.8 7.68-16.64 23.04-8.96 34.56l90.88 154.88c7.68 12.8 23.04 16.64 35.84 8.96l84.48-37.12c17.92 12.8 37.12 23.04 57.6 32L396.8 883.2c0 14.08 11.52 25.6 25.6 25.6h181.76c14.08 0 25.6-11.52 25.6-25.6l8.96-90.88c20.48-8.96 39.68-19.2 57.6-32l84.48 37.12c12.8 7.68 28.16 2.56 35.84-8.96l90.88-154.88c6.4-12.8 1.28-28.16-10.24-35.84z m-384 65.28c-84.48 0-153.6-67.84-153.6-151.04s69.12-151.04 153.6-151.04 153.6 67.84 153.6 151.04-69.12 151.04-153.6 151.04z" fill="#c7bdbd"></path><path d="M604.16 921.6H422.4c-20.48 0-38.4-16.64-38.4-37.12l-8.96-81.92c-16.64-7.68-32-16.64-46.08-26.88l-76.8 34.56c-17.92 10.24-42.24 3.84-52.48-14.08L108.8 638.72c-5.12-8.96-6.4-19.2-3.84-29.44 2.56-10.24 8.96-17.92 17.92-23.04l67.84-48.64c-1.28-8.96-1.28-17.92-1.28-26.88s0-17.92 1.28-26.88L122.88 435.2c-8.96-5.12-15.36-12.8-17.92-23.04-2.56-10.24-1.28-20.48 3.84-29.44l90.88-154.88c10.24-17.92 33.28-24.32 52.48-14.08l76.8 34.56c14.08-10.24 30.72-19.2 46.08-26.88l8.96-81.92C384 119.04 400.64 102.4 422.4 102.4h181.76c20.48 0 38.4 16.64 38.4 37.12l8.96 81.92c16.64 7.68 32 16.64 46.08 26.88l76.8-34.56c17.92-10.24 42.24-3.84 52.48 14.08l90.88 154.88c5.12 8.96 6.4 19.2 3.84 29.44-2.56 10.24-8.96 17.92-17.92 23.04l-67.84 48.64c1.28 8.96 1.28 17.92 1.28 26.88 0 8.96 0 17.92-1.28 26.88l67.84 48.64c8.96 5.12 15.36 12.8 17.92 23.04 2.56 10.24 1.28 20.48-3.84 29.44L826.88 793.6c-10.24 17.92-33.28 24.32-52.48 14.08l-76.8-34.56c-14.08 10.24-30.72 19.2-46.08 26.88l-8.96 81.92c0 23.04-17.92 39.68-38.4 39.68zM330.24 747.52c2.56 0 5.12 1.28 7.68 2.56 16.64 12.8 35.84 23.04 55.04 30.72 3.84 1.28 7.68 6.4 7.68 10.24l8.96 90.88v1.28c0 7.68 6.4 12.8 12.8 12.8h181.76c7.68 0 12.8-5.12 12.8-12.8v-1.28l8.96-90.88c0-5.12 3.84-8.96 7.68-10.24 19.2-8.96 37.12-19.2 55.04-30.72 3.84-2.56 8.96-2.56 12.8-1.28l84.48 37.12h1.28c6.4 3.84 14.08 1.28 17.92-5.12L896 625.92c1.28-2.56 2.56-6.4 1.28-8.96-1.28-3.84-2.56-6.4-6.4-7.68 0 0-1.28 0-1.28-1.28l-74.24-53.76c-3.84-2.56-6.4-7.68-5.12-11.52 1.28-10.24 1.28-20.48 1.28-30.72 0-10.24 0-20.48-1.28-30.72 0-5.12 1.28-8.96 5.12-11.52l74.24-53.76s1.28 0 1.28-1.28c2.56-1.28 5.12-5.12 6.4-7.68 1.28-3.84 0-6.4-1.28-8.96L805.12 243.2c-3.84-6.4-11.52-7.68-17.92-5.12h-1.28l-84.48 37.12c-3.84 1.28-8.96 1.28-12.8-1.28-16.64-12.8-35.84-23.04-55.04-30.72-3.84-1.28-7.68-6.4-7.68-10.24l-8.96-90.88V140.8c0-7.68-6.4-12.8-12.8-12.8H422.4c-7.68 0-12.8 5.12-12.8 12.8v1.28l-8.96 90.88c0 5.12-3.84 8.96-7.68 10.24-19.2 8.96-37.12 19.2-55.04 30.72-3.84 2.56-8.96 2.56-12.8 1.28l-84.48-37.12h-1.28c-6.4-3.84-14.08-1.28-17.92 5.12l-90.88 154.88c-1.28 2.56-2.56 6.4-1.28 8.96 1.28 3.84 2.56 6.4 6.4 7.68 0 0 1.28 0 1.28 1.28l74.24 53.76c3.84 2.56 6.4 7.68 5.12 11.52-1.28 10.24-1.28 20.48-1.28 30.72s0 20.48 1.28 30.72c0 5.12-1.28 8.96-5.12 11.52l-74.24 53.76s-1.28 0-1.28 1.28c-2.56 1.28-5.12 5.12-6.4 7.68-1.28 3.84 0 6.4 1.28 8.96L221.44 780.8c3.84 6.4 11.52 7.68 17.92 5.12h1.28l84.48-37.12c1.28-1.28 2.56-1.28 5.12-1.28z m183.04-71.68c-92.16 0-166.4-74.24-166.4-163.84s74.24-163.84 166.4-163.84 166.4 74.24 166.4 163.84-75.52 163.84-166.4 163.84z m0-302.08c-78.08 0-140.8 62.72-140.8 138.24 0 76.8 62.72 138.24 140.8 138.24s140.8-62.72 140.8-138.24c0-76.8-64-138.24-140.8-138.24z" fill="#231C1C"></path><path d="M513.28 332.8C413.44 332.8 332.8 413.44 332.8 512s80.64 179.2 180.48 179.2 180.48-80.64 180.48-179.2-81.92-179.2-180.48-179.2z m0 281.6c-57.6 0-103.68-46.08-103.68-102.4s46.08-102.4 103.68-102.4 103.68 46.08 103.68 102.4-47.36 102.4-103.68 102.4z" fill="#E1E0A6"></path><path d="M513.28 704C407.04 704 320 618.24 320 512s87.04-192 193.28-192 193.28 85.76 193.28 192c-1.28 106.24-87.04 192-193.28 192z m0-358.4C421.12 345.6 345.6 419.84 345.6 512s75.52 166.4 167.68 166.4c92.16 0 167.68-74.24 167.68-166.4-1.28-92.16-75.52-166.4-167.68-166.4z m0 281.6c-64 0-116.48-51.2-116.48-115.2s52.48-115.2 116.48-115.2 116.48 51.2 116.48 115.2-52.48 115.2-116.48 115.2z m0-204.8c-49.92 0-90.88 39.68-90.88 89.6s40.96 89.6 90.88 89.6c49.92 0 90.88-39.68 90.88-89.6s-40.96-89.6-90.88-89.6z" fill="#231C1C"></path></g></svg>      <span
        class="
          text-sm
          text-slate-100

        "></span>
    </button>
    <button
      type="button"
      class="
        inline-flex
          flex-col
          items-center
          justify-center
          px-5
          h-full

          group
          ">
      <%= link_to quizzes_path do %>
      <svg class="h-10 w-10" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M806.4 896c0 14.08-11.52 25.6-25.6 25.6H243.2c-14.08 0-25.6-11.52-25.6-25.6V153.6c0-14.08 11.52-25.6 25.6-25.6h537.6c14.08 0 25.6 11.52 25.6 25.6v742.4z" fill="#fff3d6"></path><path d="M780.8 934.4H243.2c-21.76 0-38.4-16.64-38.4-38.4V153.6c0-21.76 16.64-38.4 38.4-38.4h537.6c21.76 0 38.4 16.64 38.4 38.4v742.4c0 21.76-16.64 38.4-38.4 38.4zM243.2 140.8c-7.68 0-12.8 5.12-12.8 12.8v742.4c0 7.68 5.12 12.8 12.8 12.8h537.6c7.68 0 12.8-5.12 12.8-12.8V153.6c0-7.68-5.12-12.8-12.8-12.8H243.2z" fill="#231C1C"></path><path d="M217.6 896c0 14.08 11.52 25.6 25.6 25.6h64V128h-64c-14.08 0-25.6 11.52-25.6 25.6v742.4z" fill="#C89005"></path><path d="M307.2 934.4h-64c-21.76 0-38.4-16.64-38.4-38.4V153.6c0-21.76 16.64-38.4 38.4-38.4h64c7.68 0 12.8 5.12 12.8 12.8v793.6c0 7.68-5.12 12.8-12.8 12.8z m-64-793.6c-7.68 0-12.8 5.12-12.8 12.8v742.4c0 7.68 5.12 12.8 12.8 12.8h51.2V140.8h-51.2z" fill="#231C1C"></path><path d="M409.6 678.4l-51.2-89.6-51.2 89.6V128h102.4z" fill="#E24F32"></path><path d="M409.6 691.2c-5.12 0-8.96-2.56-11.52-6.4L358.4 614.4l-39.68 70.4c-2.56 5.12-8.96 7.68-14.08 6.4-5.12-1.28-8.96-6.4-8.96-12.8V128c0-7.68 5.12-12.8 12.8-12.8h102.4c7.68 0 12.8 5.12 12.8 12.8v550.4c0 6.4-3.84 11.52-8.96 12.8H409.6z m-51.2-115.2c5.12 0 8.96 2.56 11.52 6.4l26.88 47.36V140.8h-76.8v488.96l26.88-47.36c2.56-3.84 6.4-6.4 11.52-6.4z" fill="#231C1C"></path></g></svg>
      <%end%>
      <span
        class="
          text-sm
          text-slate-100

        "></span>
    </button>
  </div>
</div>
