<div class="container mt-4 flex">
  <div>
    <h1>Welcome Lisa</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
  <%= image_tag "avatar.jpg", class: "w-24 h-24 rounded-full" %>
</div>
