<div class="container mt-4 flex">
  <div>
    <h1>QuizMaze</h1>
    <p>Sign in and get started learning</p>
  </div>
  <%= image_tag "avatar.jpg", class: "w-24 h-24 rounded-full" %>
  <%= link_to "Sign it", user_session_path%>
  <div id="cal-heatmap"></div>
</div>
